body {
    margin: 0!important;
    font: normal 75% Arial, Helvetica, sans-serif!important;
}
.index{
    /*overflow: hidden;*/
}

@font-face {
    font-family: kromiumBold;
    src: url("../font/OptimusPrincepsSemiBold.ttf");
}


canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #10529f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

html, body {
    height: 100%;
}

.card{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #fff;
}

label{
    font-size: 0.80rem;
}

.nav-link{
    color: white!important;
}

.text-black {
    color: #000;
}

.pageTitle {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    font-family: kromiumBold;

}

.wrap4 {
    text-align: center;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}

.btn-outline-bleu {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-bleu:hover {
    color: #007bff;
}

.btn-outline-bleu:focus {
    color: #007bff;
}

.forum-list {
    background-color: rgba(31, 45, 55, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
}


.forum-item {
    color: white;
    margin: 5px;
    min-height: 10px;
    text-decoration: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(255, 255, 250, 0.3);*/
}

.forum-item a {
    color: white;
    text-decoration: none !important;
}


.forum-stats {
    color: white;
    padding: 10px;
}

.forum-stats h3 {
    font-family: kromiumBold;
}

